body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin-bottom: 100px;
}


a {
  text-decoration:  none;
  color:white
}

h1  {
  text-align:  center;
  margin-top: 100px;
}

img {
  max-width: 100%;
  display: block;
}

.header {
  background-color: #EF4848;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 10px;
}

.menu li a { 
 display: block;
  padding: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  
}

.flex > div {
  /* VERIFICAR UMA FORMA DE EXPLICAR
  O QUE É CADA UMA DAS OPÇÕES
  flex-grow | flex-shrink | flex-basis  */
  flex: 1 1 200px;
  margin: 10px;
}